<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">
<head>

  <meta charset="UTF-8">
  <meta name="robots" content="index, follow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="prefetch" href="<%= asset_path('templates/cookie-banner.html') %>">

  <title><%= meta.title %></title>
  <meta name="description" content="<%= meta.description %>">
  <meta name="author" content="Sitwell Cycling Club">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <noscript><link rel="stylesheet" href="<%= asset_path('main.css') %>"></noscript>

  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('apple-touch-icon.png') %>">
  <meta name="theme-color" content="#121212">
  <meta name="application-name" content="Sitwell CC">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Sitwell CC">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="msapplication-TileImage" content="<%= asset_path('mstile-150x150.png') %>">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Open+Sans+Condensed:700" rel="stylesheet">
  <%- css('main.css') %>
  <%- js('modernizer.js') %>

  <meta name="google-site-verification" content="lqoX8mT5-X7E0JNWw_0dIxg0GvG-tXPCV2B5Dv2HNZY" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72232417-1', 'auto');
    ga('send', 'pageview');
  </script>

  <script>
    var inlineSVGSrc = "<%= asset_path('libraries/inlineSVG.js') %>",
        lazysizesSrc = "<%= asset_path('libraries/lazysizes.js') %>",
        cookieBannerSrc = "<%= asset_path('templates/cookie-banner.html') %>";
  </script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "SportsTeam",
      "name": "Sitwell Cycling Club",
      "sport": "Cycling",
      "email": "team@sitwell.cc",
      "url": "http://www.sitwell.cc",
      "founder": "Jonny Haynes",
      "logo": "http://www.sitwell.cc<%= asset_path('template/sitwellcc-crest.svg') %>",
      "areaServed": {
        "@type": "AdministrativeArea",
        "name": "South Yorkshire"
      },
      "memberOf": [{
        "@type": "SportsOrganization",
        "name": "British Cycling"
      }],
      "sameAs" : [
        "https://www.twitter.com/sitwellcc",
        "https://www.facebook.com/sitwellcc",
        "https://www.instagram.com/sitwellcc",
        "https://www.strava.com/clubs/sitwellcc"
      ]

    }
  </script>

</head>
<body>

  <% include ../shared/svg-sprite %>

  <a href="#content" class="skip-content">skip to main content</a>

  <noscript>
    <div class="no-js">
      <div class="wrap">
        <p>This site requires a JavaScript enabled browser. Please enable Javascript or upgrade your browser to access all the features.</p>
      </div>
    </div>
  </noscript>

  <header class="page-header">
    <div class="wrap">
      <a href="/" class="header__logo">
        <img src="<%= asset_path('template/sitwellcc-crest.svg') %>" alt="Sitwell Cycling Club, Whiston, Rotherham - Founded 2016">
        <img src="<%= asset_path('template/sitwellcc-logotype.svg') %>" alt="Sitwell Cycling Club, Whiston, Rotherham - Founded 2016">
      </a>
      <button class="btn btn--menu"><svg role="presentation"><use xlink:href="#svg--menu"></use></svg></button>
      <span class="header__strapline">
        #showusyourstripes
      </span>
      <ul class="header-links header-links--social">
        <li>
          <a href="https://facebook.com/sitwellcc">
            <svg class="social-links__item social-links__item--facebook" role="presentation"><use xlink:href="#svg--facebook"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/sitwellcc">
            <svg class="social-links__item social-links__item--twitter" role="presentation"><use xlink:href="#svg--twitter"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/sitwellcc">
            <svg class="social-links__item social-links__item--instagram" role="presentation"><use xlink:href="#svg--instagram"></use></svg>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <nav class="primary-nav">
    <div class="wrap">
      <ul>
        <li><a href="/" <% if (active == 'home') { %>class="active"<% } %>>Home</a></li>
        <li><a href="/about" <% if (active == 'about') { %>class="active"<% } %>>About</a></li>
        <li><a href="/club-rides" <% if (active == 'club-rides') { %>class="active"<% } %>>Club Rides</a></li>
        <li><a href="/kit" <% if (active == 'kit') { %>class="active"<% } %>>Kit</a></li>
        <li><a href="/membership" <% if (active == 'membership') { %>class="active"<% } %>>Membership</a></li>
        <li><a href="/news" <% if (active == 'news') { %>class="active"<% } %>>News</a></li>
        <li><a href="/contact" <% if (active == 'contact') { %>class="active"<% } %>>Contact</a></li>
      </ul>
    </div>
  </nav>

  <main class="page-content">
    <%- body %>
  </main>

  <footer class="page-footer">
    <div class="wrap">
      <section class="footer footer--sponsors">
        <h2 class="footer-title"><a href="/about/sponsors">Please visit our sponsors</a></h2>
        <% include ../shared/sponsors %>
      </section>
      <section class="footer footer--about">
        <h2 class="footer-title"><a href="/about">Sitwell Cycling Club</a></h2>
        <p>Founded January 2016. Rotherham's newest cycling club serving Whiston and the surrounding areas. Come and join us for a club ride on a Wednesday evening or Sunday morning. Show us your stripes!</p>
        <p><a href="/about">Find out more</a></p>
        <a href="https://www.britishcycling.org.uk/club/profile/7596/sitwell-cc"><img src="<%= asset_path('template/bc-affiliate.png') %>" alt="British Cycling Affiliated Club"></a>
      </section>
      <section class="footer footer--strava">
        <h2 class="footer-title"><a href="https://www.strava.com/clubs/sitwellcc">This week on Strava</a></h2>
        <iframe height='160' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/sitwellcc/latest-rides/7edcdb120ed13329453ca71e308c10a6909611d8?show_rides=false'></iframe>
      </section>
      <section class="footer footer--partners">
        <h2 class="footer-title">Partners</h2>
        <ul>
          <li><a href="http://www.kalas.co.uk/">KALAS Sportswear</a></li>
          <li><a href="http://www.giraffeuk.com/">Giraffe UK</a></li>
          <li><a href="http://www.onelifeid.com/">OneLifeiD</a></li>
          <li><a href="http://www.bikepure.org/">Bike Pure</a></li>
        </ul>
      </section>
      <section class="footer footer--links">
        <ul class="footer-links footer-links--social">
          <li>
            <a href="https://facebook.com/sitwellcc">
              <svg class="social-links__item social-links__item--facebook" role="presentation"><use xlink:href="#svg--facebook"></use></svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/sitwellcc">
              <svg class="social-links__item social-links__item--twitter" role="presentation"><use xlink:href="#svg--twitter"></use></svg>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/sitwellcc">
              <svg class="social-links__item social-links__item--instagram" role="presentation"><use xlink:href="#svg--instagram"></use></svg>
            </a>
          </li>
        </ul>
        <ul class="footer-links">
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/membership">Membership</a>
          </li>
          <li>
            <a href="/about/sponsors">Sponsors</a>
          </li>
          <li>
            <a href="/about/constitution">Rules &amp; Constitution</a>
          </li>
        </ul>
      </section>
      <p>&copy; <%= new Date().getFullYear() %> Sitwell Cycling Club and it's members. Sitwell Cycling Club (Sitwell CC) is a <a href="https://www.britishcycling.org.uk/club/profile/7596/sitwell-cc">British Cycling Affiliated Club</a> - Affiliation number: 537309, and is affiliated to <a href="https://www.cyclingtimetrials.org.uk/clubs/view/2006">Cycling Time Trials</a>.</p>
      <p>A <a href="http://www.colouringcode.com">Colouring Code</a> design and build. Powered by <a href="https://m.do.co/c/4ced04d9883d">Digital Ocean</a>. Sitwell CC Crest expertly crafted by <a href="https://twitter.com/bleepbleep">@bleepbleep</a>.</p>
    </div>
  </footer>

  <%- js('application.js') %>

  <script>
    var getContentByMetaTagName=function(e){for(var n=document.getElementsByTagName("meta"),t=0;t<n.length;t++)if(e==n[t].name||e==n[t].getAttribute("property"))return n[t].content;return!1},loadJS=function(e,n){var t=window.document.getElementsByTagName("script")[0],o=window.document.createElement("script");return o.src=e,o.async=!0,t.parentNode.insertBefore(o,t),n&&"function"==typeof n&&(o.onload=n),o};
    var loadCSS=function(e,n,o,t){"use strict";var d=window.document.createElement("link"),i=n||window.document.getElementsByTagName("script")[0],s=window.document.styleSheets;return d.rel="stylesheet",d.href=e,d.media="only x",t&&(d.onload=t),i.parentNode.insertBefore(d,i),d.onloadcssdefined=function(n){for(var o,t=0;t<s.length;t++)s[t].href&&s[t].href.indexOf(e)>-1&&(o=!0);o?n():setTimeout(function(){d.onloadcssdefined(n)})},d.onloadcssdefined(function(){d.media=o||"all"}),d},loadJS=function(e,n){var t=window.document.getElementsByTagName("script")[0],o=window.document.createElement("script");return o.src=e,o.async=!0,t.parentNode.insertBefore(o,t),n&&"function"==typeof n&&(o.onload=n),o};
  </script>

</body>
</html>
