<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">
<head>

  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//fast.fonts.net">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//use.typekit.com">
  <link rel="prefetch" href="<%= asset_path('templates/cookie-banner.html') %>">

  <title><%- title %></title>
  <meta name="description" content="">
  <meta name="author" content="Sitwell Cycling Club">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <noscript><link rel="stylesheet" href="<%= asset_path('main.css') %>"></noscript>

  <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('touch-icon.png') %>">
  <meta name="theme-color" content="#ffce00">
  <meta name="application-name" content="Site Name">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Site Name">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="msapplication-TileImage" content="<%= asset_path('ms-tile.png') %>">

  <link href="https://fonts.googleapis.com/css?family=Signika+Negative:600" rel="stylesheet">
  <%- css('main.css') %>
  <%- js('modernizer.js') %>

</head>
<body>

  <a href="#content" class="skip-content">skip to main content</a>

  <noscript>
    <div class="no-js">
      <div class="wrap">
        <p>This site requires a JavaScript enabled browser. Please enable Javascript or upgrade your browser to access all the features.</p>
      </div>
    </div>
  </noscript>

  <% include ../shared/svg-sprite %>

  <main class="page-content">
    <div class="wrap">
      <%- body %>
    </div>
  </main>

  <section class="block block--supporters">
    <div class="wrap">
      <h2 class="block__title"><a href="/supporters">Supporters of the club</a></h2>
      <ul>
        <li>
          <a href="#">One</a>
        </li>
        <li>
          <a href="#">Two</a>
        </li>
        <li>
          <a href="#">three</a>
        </li>
        <li>
          <a href="#">Four</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">One</a>
        </li>
        <li>
          <a href="#">Two</a>
        </li>
        <li>
          <a href="#">three</a>
        </li>
        <li>
          <a href="#">Four</a>
        </li>
        <li>
          <a href="#">Five</a>
        </li>
        <li>
          <a href="#">Six</a>
        </li>
        <li>
          <a href="#">Seven</a>
        </li>
        <li>
          <a href="#">Eight</a>
        </li>
      </ul>
    </div>
  </section>

  <footer class="page-footer">
    <div class="wrap">
      <section class="footer footer--about">
        <h2 class="footer-title"><a href="/about-us">Sitwell Cycling Club</a></h2>
        <p>Founded January 2016. Rotherham's newest cycle club serving Whiston and the surrounding areas. Come and join us for a club run on a Wednesday evening or Sunday morning. For the good times.</p>
      </section>
      <ul class="footer-links footer-links--social">
        <li>
          <a href="https://facebook.com/sitwellcc">
            <svg class="social-links__item social-links__item--facebook" role="presentation"><use xlink:href="#svg--facebook"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/sitwellcc">
            <svg class="social-links__item social-links__item--twitter" role="presentation"><use xlink:href="#svg--twitter"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/sitwellcc">
            <svg class="social-links__item social-links__item--instagram" role="presentation"><use xlink:href="#svg--instagram"></use></svg>
          </a>
        </li>
      </ul>
      <p>
      <ul class="footer-links">
        <li>
          <a href="/contact-us">Contact us</a>
        </li>
        <li>
          <a href="/about-us">About us</a>
        </li>
        <li>
          <a href="/supporters">Supporters</a>
        </li>
        <li>
          <a href="/constitution">Rules &amp; Constitution</a>
        </li>
      </ul>
      <p>&copy; <%= new Date().getFullYear() %> Sitwell Cycling Club and it's members. Sitwell Cycling Club (Sitwell CC) is a <a href="https://www.britishcycling.org.uk/club/profile/7596/sitwell-cc">British Cycling Affiliated Club</a>. Affiliation number: 537309.</p>
      <p>A <a href="http://www.colouringcode.com">Colouring Code</a> design and build.</p>
    </div>
  </footer>

  <%- js('application.js') %>

  <script>
    var getContentByMetaTagName=function(e){for(var n=document.getElementsByTagName("meta"),t=0;t<n.length;t++)if(e==n[t].name||e==n[t].getAttribute("property"))return n[t].content;return!1},loadJS=function(e,n){var t=window.document.getElementsByTagName("script")[0],o=window.document.createElement("script");return o.src=e,o.async=!0,t.parentNode.insertBefore(o,t),n&&"function"==typeof n&&(o.onload=n),o};
    var loadCSS=function(e,n,o,t){"use strict";var d=window.document.createElement("link"),i=n||window.document.getElementsByTagName("script")[0],s=window.document.styleSheets;return d.rel="stylesheet",d.href=e,d.media="only x",t&&(d.onload=t),i.parentNode.insertBefore(d,i),d.onloadcssdefined=function(n){for(var o,t=0;t<s.length;t++)s[t].href&&s[t].href.indexOf(e)>-1&&(o=!0);o?n():setTimeout(function(){d.onloadcssdefined(n)})},d.onloadcssdefined(function(){d.media=o||"all"}),d},loadJS=function(e,n){var t=window.document.getElementsByTagName("script")[0],o=window.document.createElement("script");return o.src=e,o.async=!0,t.parentNode.insertBefore(o,t),n&&"function"==typeof n&&(o.onload=n),o};
  </script>

</body>
</html>
