<section class="primary-content">
  <%- ghost[0].description %>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/news">News</a></li>
    </ul>
  </nav>

  <section class="widget widget--facebook">
    <h3 class="widget__title">Our next club ride is</h3>
    <a href="<%= facebook[0].link %>">
      <time><%= facebook[0].date %></time>
      <h4><%= facebook[0].title %></h4>
    </a>
    <p>Leaving from the corner of <a href="https://goo.gl/maps/ArXDRXnkWEr">Turner Lane and High Street</a> at <%= facebook[0].time %>.</p>
  </section>

  <section class="widget widget--instagram">
    <h3 class="widget__title"><a href="https://instagram.com/sitwellcc">Follow us on Instagram</a></h3>
    <div>
      <% for(var i = 0; i < instagram.length; i++) { %>
        <% if (i <= 3) { %>
          <a href='<%= instagram[i].link %>'>
            <picture>
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" srcset="<%= instagram[i].src %>" alt="<%= instagram[i].caption %>" class="lazyload">
            </picture>
          </a>
        <% } %>
      <% } %>
    </div>
  </section>
</aside>
