<section class="primary-content">
  <p>The Sitwell Cycling Club Committee is a group of volunteer members who run the club. They generally meet on the first Monday of every month to discuss matters relating to the club and it’s membership.</p>
  <p>Members are encouraged to come and discuss matters arising within the Club. This isn’t a formal meeting and we welcome members bringing suggestions about the direction of the club to the discussions.</p>
  <h2>The role of the Committee</h2>
  <p>The Committee effectively manages the business of the Club in line with the <a href="/about/constitution">Rules & Constitution</a>.</p>
  <h3>The Committee is in place to:</h3>
  <ul>
    <li>Ensure the Club meets the needs of its Members,</li>
    <li>Ensure the Club is accountable to its Members,</li>
    <li>Draw on the expertise of its Members in making decisions,</li>
    <li>Ensure that financial and other decisions are being made properly.</li>
  </ul>
  <h3>Specific responsibilities of the Committee are to:</h3>
  <ul>
    <li>Set Policies for the Club,</li>
    <li>Set the Club’s long-term objectives,</li>
    <li>Decide whether to undertake new projects or activities,</li>
    <li>Interpret and adapt policy when existing activities change,</li>
    <li>Ensure there are proper procedures for monitoring and evaluating provision and use of activities,</li>
    <li>Maintain democratic procedures and accountability,</li>
    <li>Ensure the Club keeps accurate and comprehensible accounts,</li>
    <li>Ensure all funds received for a specific purpose are spent as specified and itemised within the accounts.</li>
  </ul>
  <h2>The current Committee</h2>
  <h3>Strategic Roles</h3>
  <article class="committee cf">
    <img src="<%= asset_path('template/jonny.jpg') %>" alt="Jonathan Haynes - Chair" class="img img--fifty img--left" />
    <h3>Chair<br>(Membership Officer)</h3>
    <h2>Jonathan Haynes</h2>
    <ul>
      <li>Chair all Committee Meetings, the Annual General Meeting and Extraordinary Meetings. If the Chairman is absent or declines to take the chair, the Vice Chairman shall preside;</li>
      <li>Not vote at any Committee Meeting unless he or she declines to take the chair, but shall have the casting vote should meetings be tied on any one issue;</li>
      <li>Notify Club Members promptly of any appointment, resignation or removal of Officers of the Committee;</li>
      <li>Advise all Club Members of any proposed changes to the Constitution;</li>
      <li>Report on the activities of the Club at the Annual General Meeting;</li>
      <li>Inform British Cycling if the Club ceases to operate, or is to be dissolved, and in doing so present a final statement of accounts;</li>
      <li>Chair the Appeals Committee.</li>
      <li>Consider the accounts of the Club and sign them if he/she considers them to be in order;</li>
      <li>Ensure that adequate advice and assistance is available to Officers of the Committee in the performance of their responsibilities;</li>
      <li>Be available to represent and speak for the Club in the public forum;</li>
      <li>Maintain relationship with British Cycling.</li>
    </ul>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/andy.jpg') %>" alt="Andrew Laidler - Vice Chair" class="img img--fifty img--left" />
    <h3>Vice Chair<br>(Kit Officer)</h3>
    <h2>Andrew Laidler</h2>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="David Southwood - Treasurer" class="img img--fifty img--left" />
    <h3>Treasurer</h3>
    <h2>David Southwood</h2>
  </article>
<!--   <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt=" - Membership Officer" class="img img--fifty img--left" />
    <h3>Membership Officer</h3>
    <h2></h2>
  </article>  -->
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="Thomas Hodgson - Publicity & Marketing Officer" class="img img--fifty img--left" />
    <h3>Publicity & Marketing Officer</h3>
    <h2>Thomas Hodgson</h2>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="Duncan Campbell - Socials Officer" class="img img--fifty img--left" />
    <h3>Socials Officer</h3>
    <h2>Duncan Campbell</h2>
  </article>
  <h3>Operational Roles</h3> 
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt=" - Kit Officer" class="img img--fifty img--left" />
    <h3>Kit Officer</h3>
    <h2></h2>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt=" - Rides Officer" class="img img--fifty img--left" />
    <h3>Rides Officer</h3>
    <h2></h2>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt=" - Club Ambassador" class="img img--fifty img--left" />
    <h3>Club Ambassador</h3>
    <h2>All Members</h2>
  </article>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/about/committee">Committee</a></li>
      <li><a href="/about/sponsors">Sponsors</a></li>
      <li><a href="/about/constitution">Rules &amp; Constitution</a></li>
    </ul>
  </nav>

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>  
</aside>
