<section class="primary-content">
  <p>The Sitwell Cycling Club Committee is a group of volunteer members who run the club. They generally meet on the first Monday of every month to discuss matters relating to the club and it’s membership.</p>
  <p>Members are encouraged to come and discuss matters arising within the Club. This isn’t a formal meeting and we welcome members bringing suggestions about the direction of the club to the discussions.</p>
  <h2>The role of the Committee</h2>
  <p>The Committee effectively manages the business of the Club in line with the <a href="/about/constitution">Club Constitution</a>.</p>
  <h3>The Committee is in place to:</h3>
  <ul>
    <li>Ensure the Club meets the needs of its Members,</li>
    <li>Ensure the Club is accountable to its Members,</li>
    <li>Draw on the expertise of its Members in making decisions,</li>
    <li>Ensure that financial and other decisions are being made properly.</li>
  </ul>
  <h3>Specific responsibilities of the Committee are to:</h3>
  <ul>
    <li>Set Policies for the Club,</li>
    <li>Set the Club’s long-term objectives,</li>
    <li>Decide whether to undertake new projects or activities,</li>
    <li>Interpret and adapt policy when existing activities change,</li>
    <li>Ensure there are proper procedures for monitoring and evaluating provision and use of activities,</li>
    <li>Maintain democratic procedures and accountability,</li>
    <li>Ensure the Club keeps accurate and comprehensible accounts,</li>
    <li>Ensure all funds received for a specific purpose are spent as specified and itemised within the accounts.</li>
  </ul>
  <h2>The current Committee</h2>
<!--   <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt=" - President" class="img img--fifty img--left" />
    <h3>President</h3>
    <h2></h2>
  </article>  -->
  <article class="committee cf">
    <img src="<%= asset_path('template/jonny.jpg') %>" alt="Jonathan Haynes - Chair" class="img img--fifty img--left" />
    <h3>Chair</h3>
    <h2>Jonathan Haynes</h2>
    <p><a href="mailto:chair@sitwell.cc">chair@sitwell.cc</a></p>
    <ul>
      <li>Chair all Committee Meetings, the Annual General Meeting and Extraordinary Meetings. If the Chair is absent or declines to take the chair, the Vice Chair shall preside;</li>
      <li>Not vote at any Committee Meeting unless he or she declines to take the chair, but shall have the casting vote should meetings be tied on any one issue;</li>
      <li>Notify Club Members promptly of any appointment, resignation or removal of Officers of the Committee;</li>
      <li>Advise all Club Members of any proposed changes to the Constitution;</li>
      <li>Report on the activities of the Club at the Annual General Meeting;</li>
      <li>Inform British Cycling if the Club ceases to operate, or is to be dissolved, and in doing so present a final statement of accounts;</li>
      <li>Chair the Appeals Committee;</li>
      <li>Consider the accounts of the Club and sign them if he/she considers them to be in order;</li>
      <li>Ensure that adequate advice and assistance is available to Officers of the Committee in the performance of their responsibilities;</li>
      <li>Be available to represent and speak for the Club in the public forum;</li>
      <li>Maintain relationship with British Cycling, Cycling Time Trials and AudaxUK;</li>
    </ul>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/andy.jpg') %>" alt="Andrew Laidler - Vice Chair" class="img img--fifty img--left" />
    <h3>Vice Chair</h3>
    <h2>Andrew Laidler</h2>
    <p><a href="mailto:vicechair@sitwell.cc">vicechair@sitwell.cc</a></p>
    <ul>
      <li>Chair all Committee meetings, the Annual General Meeting and Extraordinary Meetings in the absence of the Chair;</li>
      <li>Give notice of all Committee Meetings, the Annual General Meeting and Extraordinary Meetings, together with an appropriate agenda;</li>
      <li>Record the proceedings of all such meetings and document them as Minutes;</li>
      <li>Deal with correspondence and handle all administrative matters for the Club including annual memberships of governing bodies;</li>
      <li>Be prepared to assist other committee members in the execution of their duties;</li>
      <li>Negotiate club membership discounts with retailers and suppliers;</li>
      <li>Negotiate club membership discounts for race or sportive entries;</li>
    </ul>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="David Southwood - Treasurer" class="img img--fifty img--left" />
    <h3>Treasurer</h3>
    <h2>David Southwood</h2>
    <p><a href="mailto:treasurer@sitwell.cc">treasurer@sitwell.cc</a></p>
    <ul>
      <li>Keep proper records of the Club’s financial transactions in accordance with current accepted accounting rules and practices;</li>
      <li>Develop and implement control procedures to minimise the risk of financial exposure, such procedures to be reviewed annually by the Committee;</li>
      <li>Ensure that bills are paid and cash is banked in accordance with these procedures;</li>
      <li>Prepare an annual budget for the Club and regularly inform the Committee of progress against that budget;</li>
      <li>Make all records, procedures and accounts available on request to the Committee;</li>
      <li>Draw up annual accounts to 31 October each year, these accounts to be approved by the Committee and signed by the Chair no later than 21 days after the Annual General Meeting;</li>
      <li>Present annual accounts to the Club at the Annual General Meeting;</li>
      <li>Issuing invoices and receipts;</li>
    </ul>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="James Fox - Publicity & Marketing Officer" class="img img--fifty img--left" />
    <h3>Publicity & Marketing Officer</h3>
    <h2>James Fox</h2>
    <p><a href="mailto:marketing@sitwell.cc">marketing@sitwell.cc</a></p>
    <ul>
      <li>Manage the regular posting of news announcements (with photos where possible) to the homepage of the website by either writing or commissioning the news item from other club members. The news should reflect major events in the Club’s calendar such as races, sportives (liaising with the Rides Officer) or socials (liaising with the Social Officer);</li>
      <li>Encourage club members to write and maintain news reports on their experiences for others to read;</li>
      <li>Write and supply press releases on Club activity to external medium where appropriate;</li>
      <li>Hold overall responsibility for the content of the public areas of the website;</li>
      <li>Be responsible for the prizes awarded at the Christmas party, gathering in members' votes, buying prizes and writing the speech;</li>
      <li>Manage marketing material;</li>
      <li>Deal with publications/press;</li>
      <li>Maintain relationships with sponsors and partners;</li>
      <li>Update website with changes or amendments to negotiated deals;</li>
      <li>Inform Treasurer of new deals and mechanic for deal;</li>
    </ul>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="Duncan Campbell - Socials Officer" class="img img--fifty img--left" />
    <h3>Socials Officer</h3>
    <h2>Duncan Campbell</h2>
    <p><a href="mailto:socials@sitwell.cc">socials@sitwell.cc</a></p>
    <ul>
      <li>Present a programme for social functions to the Committee every three months, to be approved by the Committee;</li>
      <li>Make all necessary arrangements for all social functions of the Club, including an annual Christmas Party and an annual Summer Barbecue;</li>
      <li>Notify all Club Members of the social programme, and submit this programme to the Website Officer for inclusion on the website;</li>
      <li>Collect all monies (where appropriate) from Club Members for all social functions, and bank these monies in the Club bank account within 7 days of collection of the monies;</li>
      <li>Provide a report to the Treasurer advising all monies banked for socials;</li>
      <li>Submit all invoices for payment of social functions to the Treasurer within 14 days of the social function.</li>
    </ul>
  </article>  
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt=" - Membership Officer" class="img img--fifty img--left" />
    <h3>Membership Officer</h3>
    <h2></h2>
    <p><a href="mailto:membership@sitwell.cc">membership@sitwell.cc</a></p>
    <ul>
      <li>Maintain a database of all Club Members;</li>
      <li>Respond to enquiries from the website regarding Membership;</li>
      <li>Collect membership subscription fees and bank these monies in the Club bank account within 7 days of collection of the monies;</li>
      <li>Report to the Committee every quarter regarding any changes to membership of the Club;</li>
      <li>Welcome new members.</li>
    </ul>
  </article> 
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="Phil Smith - Kit Officer" class="img img--fifty img--left" />
    <h3>Kit Officer</h3>
    <h2>Phil Smith</h2>
    <p><a href="mailto:kit@sitwell.cc">kit@sitwell.cc</a></p>
    <ul>
      <li>Source suppliers for Club kit, subject to approval by the Committee;</li>
      <li>Order the kit;</li>
      <li>Collect all monies from Club Members and bank these monies within 7 days of collection.</li>
      <li>Obtain approval for all purchase decisions from the Treasurer (repeat orders);</li>
      <li>Agree the pricing of items with the Treasurer;</li>
      <li>Submit all invoices for payment to suppliers to the Treasurer within 14 days of receipt;</li>
      <li>Maintain content of the website for their designated area;</li>
    </ul>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt="Robert O'Reilly - Club Captain" class="img img--fifty img--left" />
    <h3>Club Captain</h3>
    <h2>Robert O'Reilly</h2>
    <p><a href="mailto:captain@sitwell.cc">captain@sitwell.cc</a></p>
    <ul>
      <li>Manage the schedule to ensure there is adequate cover for all rides;</li>
      <li>Commissioning ride reports from the Road Captain and getting these onto the website within 7 days of the ride happening.</li>
      <li>Maintain content of the website for their designated area.</li>
    </ul>
  </article>
  <article class="committee cf">
    <img src="<%= asset_path('template/placeholder.png') %>" alt=" - Club Ambassador" class="img img--fifty img--left" />
    <h3>Club Ambassador</h3>
    <h2>All Members</h2>
    <ul>
      <li>Get around the club</li>
      <li>Talk to members;</li>
      <li>Get feedback from members;</li>
      <li>Offer advice to new members;</li>
      <li>Keep an eye on the forum and respond wherever possible;</li>
      <li>'Push' the club volunteering ethos to everyone;</li>
      <li>Assist other club officers whenever they become overstretched!</li>
    </ul>
  </article>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/about/committee">Committee</a></li>
      <li><a href="/about/road-captains">Road Captains</a></li>
      <li><a href="/about/sponsors">Sponsors</a></li>
      <li><a href="/about/constitution">Constitution</a></li>
    </ul>
  </nav>

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Please visit our sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>  
</aside>
