<section class="primary-content">
  <h2 id="kalas">Kalas Sportswear</h2>

  <img src="<%= asset_path('template/kalas-sportswear.jpg') %>" width="200" />

  <p><strong>Kit is only available to club members - <a href="/membership">join us today!</a></strong></p>

  <p>We've chosen <a href="http://www.kalas.co.uk/">Kalas Sportswear</a> as our manufacturer of choice. They have a great range of items including casual wear and are very competitive on price. They have a really small minimum and a 6 week turnaround, so we can get kit into your hands really quickly.</p>

  <p>Having received some items already we can assure you the quality is second to none.</p>

  <p>Please feel free to have a look though the full <a href="https://issuu.com/kalaswear/docs/katalog-custom-cyclewear-2017-en-is">2017 brochure</a>, we can order anything from it.</p>

  <p>The majority of the items come in three ranges: PRO; ELITE; and ACTIVE. They also do a rain wear collection known as RainMem. Many of the items are avaiable in both male and female cuts as well as sizing for juniors. Get in touch for more information.</p>

  <h2 id="thekit">The Kit</h2>

  <p>Below are a selection of items club members have purchased before.</p>

  <p><em>We don't add anything to the price that Kalas Sportswear charge us.</em></p>

  <p><em>Prices correct as of 01/01/2018.</em></p>

  <h3 id="ssjersey">S/S Jersey</h3>

  <img src="<%= asset_path('template/SCCJersey.jpg') %>" alt="">

  <p>Best used in summer conditions with temperatures ranging between 20-30°C. All jerseys come with the option of a full zip for those glorious summer days where you can do your best <a href="<%= asset_path('template/voeckler.jpg') %>">Thomas Voeckler</a> impression.</p>

  <dl>
    <dt>PRO Razor</dt>
    <dd>£XX.XX</dd>
    <dt>ELITE Spin</dt>
    <dd>£XX.XX</dd>
    <dt>ACTIVE Devan</dt>
    <dd>£XX.XX</dd>
  </dl>

  <h3 id="lsjersey">L/S Jersey</h3>

  <p>For those cooler sping and autum days with temperatures ranging between 10-20°C.</p>

  <dl>
    <dt>PRO Elastico Thermo</dt>
    <dd>£XX.XX</dd>
    <dt>ELITE Flanders</dt>
    <dd>£XX.XX</dd>
  </dl>

  <h3 id="gilet">Gilet</h3>

  <p>Something every rider should have in their arsenal, perfect for days with temperatures ranging between 10-20°C.</p>

  <dl>
    <dt>ELITE W&W Mission Light</dt>
    <dd>£XX.XX</dd>
    <dt>ACTIVE MicroFiber</dt>
    <dd>£XX.XX</dd>
  </dl>

  <h3 id="bibshorts">Bib Shorts</h3>

  <dl>
    <dt>PRO Goffrato (M) / PRO Arco (F)</dt>
    <dd>£XX.XX / £XX.XX</dd>
    <dt>ELITE Lycra Power</dt>
    <dd>£XX.XX</dd>
    <dt>ACTIVE Lycra</dt>
    <dd>£XX.XX</dd>
  </dl>

  <h3 id="bibtights">Bib Tights</h3>

  <p>Ideal for the colder days with temperatures ranging between 5-15°C.</p>

  <dl>
    <dt>ELITE Roubaix</dt>
    <dd>£XX.XX</dd>
  </dl>

  <h3 id="wetweathergear">Wet Weather Gear</h3>

  <p>The RainMem collection is for wet weather days with temperatures ranging between 0-10°C.</p>

  <dl>
    <dt>RainMem S/S Jersey</dt>
    <dd>£XX.XX</dd>
    <dt>RainMem L/S Jersey</dt>
    <dd>£XX.XX</dd>
    <dt>RainMem Bib Shorts</dt>
    <dd>£XX.XX</dd>
    <dt>RainMem Bib Tights</dt>
    <dd>£XX.XX</dd>
  </dl>

  <h3 id="mtbxc">MTB X/C</h3>

  <dl>
    <dt>CROSS Athena S/S Jersey</dt>
    <dd>£XX.XX</dd>
    <dt>CROSS Athena L/S Jersey</dt>
    <dd>£XX.XX</dd>
    <dt>BIKER Shorts</dt>
    <dd>£XX.XX</dd>
  </dl>

  <h2 id="sizing">Sizing</h2>

  <p>Kalas Sportswear have a <a href="http://www.kalas.co.uk/size-guide">size guide</a> here. Their sizing is pretty much spot on and better suited to British riders. We can get our hands on sample garments if you're not sure, and you can always ask a member to lend you their kit.</p>

  <h2 id="ordering">Ordering</h2>

  <p>Ordering is easy. Just send us an <a href="mailto:kit@sitwell.cc">email</a> with your requirements and we'll take it from there.</p>
</section>

<aside class="secondary-content">

  <section class="widget widget--facebook">
    <h3 class="widget__title">Our next club ride is</h3>
    <a href="/club-rides">
      <time>
        <span class="day"><%= facebook[0].date.day %></span>
        <span class="date"><%= facebook[0].date.date %></span>
        <span class="month"><%= facebook[0].date.month %></span>
      </time>
      <h4><%= facebook[0].title %></h4>
      <p>Leaving from
        <% if (facebook[0].date.day === 'Tuesday') { %>the corner of Europa Court and Europa Link, Tinsley
          <% } else { %>the corner of Turner Lane and High Street, Whiston
            <% } %> at
              <%= facebook[0].time %>.</p>
    </a>
  </section>

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Please visit our sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>  

  <section class="widget widget--instagram">
    <h3 class="widget__title"><a href="https://instagram.com/sitwellcc">Follow us on Instagram</a></h3>
    <div>
      <% for(var i = 0; i < instagram.length; i++) { %>
        <% if (i <= 3) { %>
          <a href='<%= instagram[i].link %>'>
            <picture>
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" srcset="<%= instagram[i].src %>" alt="<%= instagram[i].caption %>" class="lazyload">
            </picture>
          </a>
        <% } %>
      <% } %>
    </div>
  </section>
</aside>
