<section class="primary-content">
  <h2 id="kalas">Kalas Sportswear</h2>

  <img src="<%= asset_path('template/kalas-sportswear.jpg') %>" width="200" />

  <p><strong>Kit is only available to club members - <a href="/membership">join us today!</a></strong></p>

  <p>We've chosen <a href="http://www.kalas.co.uk/">Kalas Sportswear</a> as our manufacturer of choice. They have a great range of items including casual wear and are very competitive on price. They have a really small minimum and a 6 week turnaround, so we can get kit into your hands really quickly.</p>

  <p>Having received some items already we can assure you the quality is second to none.</p>

  <p>Please feel free to have a look though the full <a href="https://issuu.com/kalaswear/docs/katalog-custom-cyclewear-2017-en-is">2017 brochure</a>, we can order anything from it.</p>

  <p>The majority of the items come in three ranges: PRO; ELITE; and ACTIVE. They also do a rain wear collection known as RainMem. Many of the items are avaiable in both male and female cuts as well as sizing for juniors. Get in touch for more information.</p>

  <h2 id="thekit">The Kit</h2>

  <p>Below are a selection of items club members have purchased before. These are only a guide to what's available. Please check the Kalas brochure or speak to our <a href="mailto:kit@sitwell.cc">Kit Officer</a> if there's something you're after, but it's not on the list below.</p>

  <p><em>We don't add anything to the price that Kalas Sportswear charge us.</em></p>

  <p><em>Prices correct as of 01/01/2018.</em> <small>Although every effort has been made to ensure the accuracy of the pricing below, complete accuracy cannot be guaranteed. Prices are subject to change without notice.</small></p>

  <h3 id="ssjersey">S/S Jersey</h3>

  <img src="<%= asset_path('template/SCCJersey.png') %>" alt="" style="border: 1px solid #eee;">

  <p>Best used in summer conditions with temperatures ranging between 20-30°C. All jerseys come with the option of a full zip for those glorious summer days where you can do your best <a href="<%= asset_path('template/voeckler.jpg') %>">Thomas Voeckler</a> impression.</p>

  <h4>Options</h4>
  <dl>
    <dt>PRO Razor</dt>
    <dd>£82.80</dd>
    <dt>ELITE Spin</dt>
    <dd>£49.80</dd>
    <dt>ACTIVE Devan</dt>
    <dd>£40.80</dd>
  </dl>

  <h3 id="lsjersey">L/S Jersey</h3>

  <p>For those cooler sping and autum days with temperatures ranging between 10-20°C.</p>

  <h4>Options</h4>
  <dl>
    <dt>PRO Elastico Thermo</dt>
    <dd>£89.40</dd>
    <dt>ELITE Flanders</dt>
    <dd>£63.00</dd>
    <dt>ACTIVE Flanders</dt>
    <dd>£52.80</dd>
  </dl>

  <h3 id="gilet">Gilet</h3>

  <p>Something every rider should have in their arsenal, perfect for days with temperatures ranging between 10-20°C.</p>

  <h4>Options</h4>
  <dl>
    <dt>ELITE W&W Mission Light</dt>
    <dd>£66.60</dd>
    <dt>ACTIVE MicroFiber</dt>
    <dd>£42.60</dd>
  </dl>

  <h3 id="bibshorts">Bib Shorts</h3>

  <img src="<%= asset_path('template/SCCShorts.png') %>" alt="" style="border: 1px solid #eee;">

  <h4>Options</h4>
  <dl>
    <dt>PRO Goffrato (M) / PRO Arco (F)</dt>
    <dd>£102.00</dd>
    <dt>ELITE Lycra Power</dt>
    <dd>£69.60</dd>
    <dt>ACTIVE Lycra</dt>
    <dd>£52.20</dd>
  </dl>

  <p><em>Bib shorts are also available without a pad.</em></p>

  <h3 id="bibtights">Bib Tights</h3>

  <p>Ideal for the colder days with temperatures ranging between 5-15°C.</p>

  <h4>Options</h4>
  <dl>
    <dt>ELITE Roubaix</dt>
    <dd>£86.40</dd>
  </dl>

  <p><em>Bib tights are also available without a pad.</em></p>

  <h3 id="wetweathergear">Wet Weather Gear</h3>

  <p>The RainMem collection is for wet weather days with temperatures ranging between 0-10°C.</p>

  <h4>Options</h4>
  <dl>
    <dt>RainMem S/S Jersey</dt>
    <dd>£113.40</dd>
    <dt>RainMem L/S Jersey</dt>
    <dd>£125.40</dd>
    <dt>RainMem Bib Shorts</dt>
    <dd>£118.80</dd>
    <dt>RainMem Bib Tights</dt>
    <dd>£123.00</dd>
  </dl>

  <h3 id="mtbxc">MTB X/C</h3>

  <h4>Options</h4>
  <dl>
    <dt>CROSS Athena S/S Jersey</dt>
    <dd>£52.80</dd>
    <dt>CROSS Athena L/S Jersey</dt>
    <dd>£56.40</dd>
    <dt>BIKER Shorts</dt>
    <dd>£47.88</dd>
  </dl>

  <h2 id="sizing">Sizing</h2>

  <p>Kalas Sportswear have a <a href="http://www.kalas.co.uk/size-guide">size guide</a> here. Their sizing is pretty much spot on and better suited to British riders. We can get our hands on sample garments if you're not sure, and you can always ask a member to lend you their kit.</p>

  <h2 id="ordering">Ordering</h2>

  <p>Ordering is easy. We place an order once a quarter. Two weeks in the following months: Janaury, April, July and October. This will be through an online portal available only to members. For more information get in touch with our <a href="mailto:kit@sitwell.cc">Kit Officer</a>.</p>
</section>

<aside class="secondary-content">

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Please visit our sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>

  <section class="widget widget--instagram">
    <h3 class="widget__title"><a href="https://instagram.com/sitwellcc">Follow us on Instagram</a></h3>
    <div>
      <% for(var i = 0; i < instagram.length; i++) { %>
        <% if (i <= 3) { %>
          <a href='<%= instagram[i].link %>'>
            <picture>
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" srcset="<%= instagram[i].src %>" alt="<%= instagram[i].caption %>" class="lazyload">
            </picture>
          </a>
        <% } %>
      <% } %>
    </div>
  </section>
</aside>
