<section class="primary-content layout--news">
  <article>
    <h2>Our next club ride is</h2>
    <a href="<%= facebook[0].link %>">
      <time><%= facebook[0].date %></time>
      <h3><%= facebook[0].title %></h3>
    </a>
    <p>Leaving from the corner of <a href="https://goo.gl/maps/ArXDRXnkWEr">Turner Lane and High Street</a> at <%= facebook[0].time %>.</p>
  </article>

  <% for(var i = 0; i < ghost.length; i++) { %>
    <% if (i <= 5) { %>
      <article class="post post--news">
        <a href="<%= ghost[i].link %>">
          <img src="<%= ghost[i].image %>" class="post__img">
          <h2 class="post__title"><%= ghost[i].title %></h2>
          <%- ghost[i].description.split('\n')[0] %>
        </a>
      </article>
    <% } %>
  <% } %>

</section>
