<section class="primary-content">
  <p>Club rides take place every <a href="/club-rides/wednesday-evening">Wednesday evening</a>, occasional <a href="/club-rides/saturday-morning">Saturday mornings</a> and every <a href="/club-rides/sunday-morning">Sunday morning</a>.</p>

  <p>The meeting place is on the corner of Turner Lane and High Street, <a href="https://goo.gl/maps/ArXDRXnkWEr">Whiston</a>. This is easily located, just around the corner from the Sitwell Arms pub.</p>

  <p><strong>All of our rides are lead by an experienced member of the club.</strong> It's worth familiarising yourself with the current club <a href="/about/road-captains">Road Captains</a>.</p>

  <h2>The rides</h2>

  <section class="summary">
    <article class="summary__item">
      <a href="/club-rides/wednesday-evening">
        <picture>
          <img src="<%= asset_path('template/wednesday.jpg') %>" alt="">
        </picture>
        <div>
          <h3 class="summary__title">Wednesday evening</h3>
          <p class="summary__desc">Around 1.5 hours at 13-14mph</p>
        </div>
      </a>
    </article>
    <article class="summary__item">
      <a href="/club-rides/saturday-morning">
        <picture>
          <img src="<%= asset_path('template/saturday.jpg') %>" alt="">
        </picture>
        <div>
          <h3 class="summary__title">Saturday morning</h3>
          <p class="summary__desc">Around 2.5 hours plus café stop at 11-12mph</p>
        </div>
      </a>
    </article>
    <article class="summary__item">
      <a href="/club-rides/sunday-morning">
        <picture>
          <img src="<%= asset_path('template/sunday.jpg') %>" alt="">
        </picture>
        <div>
          <h3 class="summary__title">Sunday morning</h3>
          <p class="summary__desc">Around 4 hours plus café stop at 13-14mph</p>
        </div>
      </a>
    </article>
  </section>

  <h3>Fitness</h3>

  <p>We by all means accommodate new members but we do expect a certain level of fitness. The natural terrain around us can vary and sometimes the route we may choose may be more challenging for some rides. If you do find that you are struggling with the pace, we advise that you do the first hour and see how you feel. It's better to ride home feeling fine than on your last legs feeling shattered.</p>

  <h3>Equipment</h3>

  <p>Helmets are required, and carry at least one spare inner tube plus a basic tool kit comprising a minimum of:</p>
  
  <ul>
    <li>Multi-tool</li>
    <li>Tyre levers</li>
    <li>Chain tool (chain breaker)</li>
    <li>One inner tube (preferably two)</li>
    <li>Spanner (with multiple size holes, helps with brake/pedal situations)</li>
    <li>Spoke key</li>
    <li>Mini pump (or gas canisters and valve)</li>
    <li>An emergency tenner (useful at the cafe stop if nothing else)</li>
  </ul>

  <p>In the Winter months riders should have full length mudguards and preferably a <a href="http://rawmudflap.uk/index.html">mudguard flap</a> - it helps to keep our kit clean!</p>

  <p>Our no-drop policy applies to every club ride so there will usually be a tool for the job amongst us somewhere and hands on deck to help out. However, it's still wise to carry a toolkit of your own in case you have to head back home alone for any reason.</p>

  <h3>Rules of the road</h3>

  <p>Everyone on a club ride needs to take responsibility for the safety of others as well as for themselves. In order to ensure our rides remain safe as well as good fun, we ask all our members to follow some basic rules and standards of cycling etiquette. Below are some basic rules common to cyclists across the country. We have set them out as "Do's and Don'ts" as well as listing the main calls and signals to use when riding with the club.</p>
  <p>Please apply these rules when you are on rides with the club and, where others don't, politely inform them of the proper cycling etiquette we expect to see.</p>

  <h3>Do</h3>

  <ul>
    <li>Follow the Highway Code at all times (it applies to all road-users) as well as the instructions of the Road Captain, who is responsible for navigating and deciding when to single out, etc.</li>
    <li>Ensure your bike is properly prepared for each ride, i.e. brakes are fully operational, tyres are pumped to recommended pressures, chain is oiled etc. In winter months, this also means fitting more robust/heavier tyres to guard against punctures and full length mudguards to ensure the comfort of others, so we can continue to ride as a group.</li>
    <li>Dress in appropriate clothing for the weather and bring everything you might need - See equipment above.</li>
    <li>Cycle a maximum of two abreast in two close parallel lines where appropriate, focus on keeping it neat and tidy. There should be no more than a bike's length between you and the rider to your front and behind; and also between your shoulders and the rider beside you.</li>
    <li>Be prepared on small or busy roads to ride in single file. This will be signalled by the Road Captain when it is necessary.</li>
    <li>Ride directly behind the wheel in front – if you cycle in the middle of the two wheels in front of you, you WILL push the cyclist on your outside into the path of passing vehicles.</li>
    <li>Brake as gently and smoothly as you safely can when riding in a pack and cover your brakes at all times.</li>
    <li>Talk and communicate – i.e. point out with hand signals or calls hazards in the road (potholes, manhole covers etc), and let lead riders know if a rider is getting dropped or traffic is building up behind. See below for a list of standard calls and signals to use.</li>
    <li>If you are in the front, remember that people are following your calls. If you make a decision to pull out on a roundabout or junction, you need to call "Clear" or "Wait" to warn the pack of hazards.</li>
    <li>If you are feeling tired, let people know. Accidents happen when people are tired and lose concentration. Everyone gets tired, let the Road Captain know so they check the pace down and tuck you in the pack to carry you home.</li>
    <li>Remain courteous to other road users, avoid entering into arguments with drivers and using foul language (even if the driver deserves it) as it rarely helps improve a situation.</li>
    <li>Finally, do become a member of Sitwell Cycling Club! Anyone is welcome to join our club rides to try them out. However, we ask anyone who has ridden more than three club rides with us to <a href="/membership">join us</a>.</li>
  </ul>

  <h3>Don't</h3>

  <ul>
    <li>Ride more than two abreast at any time, unless dropping back after taking a turn at the front</li>
    <li>Overlap wheels, or nudge in between the wheels of the riders in front. You will come off if they move off their line</li>
    <li>Use tri / aero bars as these are not safe in a group situation</li>
    <li>Make any sudden movements or changes in direction when in the pack. You are responsible for the cyclist behind you; they are following YOUR wheel they need to trust you</li>
    <li>Ride off the front or race. These are sociable club rides, not races</li>
    <li>Stop pedalling if you are in the front. The cyclists behind you will read this as you slowing and could be forced to brake and bunch up</li>
    <li>"Zone out" on the wheel in front. Keep aware of everything that is going on around you, look ahead and that way you can avoid most hazards</li>
    <li>Pull out at junctions without looking, having heard the "Clear" call from a fellow cyclist. Check whether there is a vehicle coming yourself</li>
    <li>Beckon through cars from behind the group. If accidents occur, this may result in "blaming" of the cyclist, and lead to accusations the rider put the car driver at risk/rider negligence etc</li>
  </ul>

  <h3>Calls and hand signals</h3>

  <ul>
    <li>"Knock it off" – referring to someone having been dropped from the group and the immediate need to slow the pace out of courtesy to bring them back</li>
    <li>"All on" or "Back on" – referring to the group has now reformed as one, and the pace can now return to ‘standard’ or a suitable pace (sometimes lower than standard if later in the ride)</li>
    <li>"Moving out" (often accompanied by left arm behind back) – meaning the group has to avoid parked cars or a hazard by riding wider into the road</li>
    <li>"Middle" (often accompanied by pointing) – alerting to pot holes, speed humps or general hazards where the 2 lines of riders would widen to avoid</li>
    <li>"Keep tight" or "Single out" – indicating that the road is possibly not conducive to riding 2 abreast, the outside riders should move behind the rider to their left forming a single line</li>
    <li>"Steady" or "Slowing" (often accompanied by raising right arm up and down) – meaning that the group should temporarily slow it’s pace , sometimes to allow lights to change, or cars to turn into a junction</li>
    <li>"Stopping" (accompanied with a right hand in the air) – simply that we're stopping</li>
    <li>"Car front" – where a car is coming down the group from the front</li>
    <li>"Car back" – where a car is coming up the group from the rear</li>
  </ul>

  <p><strong>N.B.</strong> A call should not be made, simply as a car is there. This has the potential of being every two minutes on a typical ride (i.e. we ride on the road), and the important calls may get ignored.</p>

  <h3>Insurance</h3>

  <p>We recommend that you are a member of <a href="https://www.britishcycling.org.uk/clubs/membership">British Cycling</a>, they'll provide you with liability insurance for when you're out on a ride.</p>

  <p>Please take time to read our <strong><a href="<%= asset_path('SitwellCyclingClubSitwellCCGenericRiskAssessment–RoadRides2016.pdf') %>">Risk Assessment</a> on Road Riding</strong>.</p>

  <h3>Guide to group riding</h3>

  <p><a href="https://www.britishcycling.org.uk/knowledge/article/izn20121221-group-ride-0">British Cycling</a> has some great information on group riding and even has a guide on hand signals and communication to keep each other safe whilst out on the road. There's also this <a href="<%= asset_path('group-riding-skills-ctc.pdf') %>">handy PDF</a> from CTC that is well worth a look.</p>

  <div class="module module__video"><iframe width="560" height="315" src="https://www.youtube.com/embed/QPXijIKgFVM" frameborder="0" allowfullscreen=""></iframe></div>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/club-rides">Club Rides</a></li>
      <li><a href="/club-rides/wednesday-evening">Wednesday Evening</a></li>
      <li><a href="/club-rides/saturday-morning">Saturday Morning</a></li>
      <li><a href="/club-rides/sunday-morning">Sunday Morning</a></li>
      <li><a href="/club-rides/sportives-races">Sportives &amp; Races</a></li>
    </ul>
  </nav>

  <section class="widget widget--facebook">
    <h3 class="widget__title">Our next club ride is</h3>
    <a href="<%= facebook[0].link %>">
      <time>
        <span class="day"><%= facebook[0].date.day %></span>
        <span class="date"><%= facebook[0].date.date %></span>
        <span class="month"><%= facebook[0].date.month %></span>
      </time>
      <h4><%= facebook[0].title %></h4>
      <p>Leaving from the corner of Turner Lane and High Street at <%= facebook[0].time %>.</p>
    </a>
  </section>

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Please visit our sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>  
  
  <section class="widget widget--strava">
    <h3 class="widget__title"><a href="https://www.strava.com/clubs/sitwellcc">This week on Strava</a></h3>
    <iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/93874/latest-rides/7edcdb120ed13329453ca71e308c10a6909611d8?show_rides=true'></iframe>
  </section>
</aside>
