<section class="primary-content">
  <p>Our club members love a good sportive or race as much as the next person</p>
  <p>Below is a list of all the sportives or races our members will be attending. This list will be updated periodically as members sign up to more. So please check back often.</p>
  <h2>Sportives</h2>
  <article class="post post--event">
    <h3 class="post__title"><a href="http://www.mansfieldroadclub.com/?product=big-red-ride-2017">Big Red Ride</a></h3>
    <time class="post__date"><strong>Mansfield, 5th March - 100km / £5.50</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Andy, Jonny, Lee, Mick, Paul, Rob R</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title"><a href="https://www.britishcycling.org.uk/events/details/155549/Amstel-Standing-2017">Amstel Standing</a></h3>
    <time class="post__date"><strong>Retford, 16th April - 114km / £10.00</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Andy, Lee, Mick, Rob R</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title"><a href="https://www.britishcycling.org.uk/events/details/153096/The-Lapierre-Tour-of-the-Black-Country-2017">Tour of the Black Country</a></h3>
    <time class="post__date"><strong>Wolverhampton, 23rd April  - 160km / £30.00</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Andy, James, Jonny</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title"><a href="http://letour.yorkshire.com/maserati-tour-de-yorkshire-ride">Tour de Yorkshire</a></h3>
    <time class="post__date"><strong>Stocksbridge, 30th April - 100km / £49</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Phil, Jonny, Andy, Rob R, Rob T, Foxy, Lee, Darren, Greg, Jon R, Ian, Mick, Joe, Simon, Lloyd</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title"><a href="http://velo29events.com/sportives/tour-of-the-peak">Tour of the Peak</a></h3>
    <time class="post__date"><strong>Bakewell, 7th May - 99-185km / £20-25</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Lee, Paul, Rob R</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title"><a href="http://velothon.ironman.com/events/velothon-wales.aspx">Velothon Wales</a></h3>
    <time class="post__date"><strong>Cardiff, 9th July - 110-140km / £65-69</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Simon</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title"><a href="http://www.velobirmingham.com">Hope Valley (MTB)</a></h3>
    <time class="post__date"><strong>Hope, 23rd September - 25km / £20</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Jonny, Tom</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title"><a href="http://www.velobirmingham.com">Velo Birmingham</a></h3>
    <time class="post__date"><strong>Birmingham, 24th September - 160km / SOLD OUT</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Ian</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title">SCC's Sprint to the Sun</h3>
    <time class="post__date"><strong>Blackpool - Scarborough, 30th September - 227km Overnight</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Darren, Joe, Jonny, Lee, Mick, Rob R, Andy, Simon</p>
  </article>
  <br><br>
  <h2>Races</h2>
  <article class="post post--event">
    <h3 class="post__title"><a href="https://www.britishcycling.org.uk/events/details/159455/Wakefield-Cycle-Circuit-Cherry-Popper">Wakefield Cycle Circuit Cherry Popper</a></h3>
    <time class="post__date"><strong>BKCAT Cycle Circuit, 4th March - 40km</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Greg</p>
  </article>
  <article class="post post--event">
    <h3 class="post__title"><a href="https://www.cyclingtimetrials.org.uk/race-details/15732">Tickhill Velo Club Open 10</a></h3>
    <time class="post__date"><strong>O10/1, 12th August - 16km</strong></time>
    <p class="post__summary"><strong>Members attending:</strong> Darren</p>
  </article>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/club-rides">Club Rides</a></li>
      <li><a href="/club-rides/wednesday-evening">Wednesday Evening</a></li>
      <li><a href="/club-rides/saturday-morning">Saturday Morning</a></li>
      <li><a href="/club-rides/sunday-morning">Sunday Morning</a></li>
      <li><a href="/club-rides/sportives-races">Sportives &amp; Races</a></li>
    </ul>
  </nav>

  <section class="widget widget--facebook">
    <h3 class="widget__title">Our next club ride is</h3>
    <a href="<%= facebook[0].link %>">
      <time>
        <span class="day"><%= facebook[0].date.day %></span>
        <span class="date"><%= facebook[0].date.date %></span>
        <span class="month"><%= facebook[0].date.month %></span>
      </time>
      <h4><%= facebook[0].title %></h4>
      <p>Leaving from the corner of Turner Lane and High Street at <%= facebook[0].time %>.</p>
    </a>
  </section>

  <section class="widget widget--sponsors">
    <h3 class="widget__title"><a href="/about/sponsors">Please visit our sponsors</a></h3>
    <% include ../../shared/sponsors %>
  </section>  

  <section class="widget widget--instagram">
    <h3 class="widget__title"><a href="https://instagram.com/sitwellcc">Follow us on Instagram</a></h3>
    <div>
      <% for(var i = 0; i < instagram.length; i++) { %>
        <% if (i <= 3) { %>
          <a href='<%= instagram[i].link %>'>
            <picture>
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" srcset="<%= instagram[i].src %>" alt="<%= instagram[i].caption %>" class="lazyload">
            </picture>
          </a>
        <% } %>
      <% } %>
    </div>
  </section>
</aside>
