<section class="primary-content">
  <p>Sunday morning rides depart from the corner of Turner Lane and High Street, <a href="https://goo.gl/maps/ArXDRXnkWEr">Whiston</a> at 8.00am prompt.</p>
  <p>If you come along on a Sunday club ride, we will be on the road, riding for about 4 hours covering around 50 miles at about 13-14mph with a café stop.</p>
  <p>Including the café stop we're usually back in the village for around 1pm.</p>
  <p>We always have a planned route for a Sunday ride and they can be found below.</p>
  <p>Please take time to read our <strong><a href="<%= asset_path('SitwellCyclingClubSitwellCCGenericRiskAssessment–RoadRides2016.pdf') %>">Risk Assessment</a> on Road Riding</strong>.</p>
  <h2 id="upcoming-rides">Upcoming rides</h2>
  <div id="rides">
    <% for(var i = 0; i < facebook.length; i++) { %>
      <article>
        <time><strong><%= facebook[i].date %></strong></time>
        <h4><a href="<%= facebook[i].link %>"><%= facebook[i].title %></a><br /><small><%= facebook[i].location %></small></h4>
        <p><%- facebook[i].description %></p>
      </article>
    <% } %>
  </div>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/club-rides/wednesday-evening">Wednesday Evening</a></li>
      <li><a href="/club-rides/sunday-morning">Sunday Morning</a></li>
    </ul>
  </nav>
</aside>
