<section class="primary-content">
  <h2>Upcoming rides</h2>
  <div id="rides">
    <% for(var i = 0; i < facebook.length; i++) { %>
      <article>
        <time><strong><%= facebook[i].date %></strong></time>
        <h4><a href="<%= facebook[i].link %>"><%= facebook[i].title %></a><br /><small><%= facebook[i].location %></small></h4>
        <p><%- facebook[i].description %></p>
      </article>
    <% } %>
  </div>
</section>

<aside class="secondary-content">
  <nav>
    <ul>
      <li><a href="/club-rides/wednesday-evening">Wednesday Evening</a></li>
      <li><a href="/club-rides/sunday-morning">Sunday Morning</a></li>
    </ul>
  </nav>
</aside>
